<section>
    <div class="container">
            <h1>3D МОДЕЛЮВАННЯ</h1>
            <div>
                <p>Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом 3D
                    друку,
                    обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд інженерних
                    вимог
                    які
                    повинен враховувати дизайнер при розробці моделі.</p>
                <p>Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення. Ми
                    маємо
                    широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
            </div>
            
            <div>
                <h2>Способи створення моделі:</h2>
                <ul>
                    <li>3D сканування</li>
                    <li>На основі фотографій з доданими розмірами</li>
                    <li>За ескізами з розмірами</li>
                    <li>За вашим кресленням</li>
                    <li>По вже існуючому прототипу шляхом зняття розмірів</li>
                </ul>
                <picture>
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </div>
            <div>
                <h2>МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>
                <picture>
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture>
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture>
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture>
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </div>
            <button type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
 
    </div>

    
</section>