
    <section class="3d-modelling">
        <div class="container modelling-container">
            <h1 class="modelling-title">3D МОДЕЛЮВАННЯ</h1>
            <div class="modelling-title__description">
                <p class="modelling-title__text">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом
                    3D
                    друку,
                    обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд
                    інженерних
                    вимог
                    які
                    повинен враховувати дизайнер при розробці моделі.</p>
                <p class="modelling-title__text">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення.
                    Ми
                    маємо
                    широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
            </div>
    
            <div class="creating-ways">
                <h2 class="creating-ways__title">Способи створення моделі:</h2>
                <ul class="creating-ways__list">
                    <li class="creating-ways__item">3D сканування</li>
                    <li class="creating-ways__item">На основі фотографій з доданими розмірами</li>
                    <li class="creating-ways__item">За ескізами з розмірами</li>
                    <li class="creating-ways__item">За вашим кресленням</li>
                    <li class="creating-ways__item">По вже існуючому прототипу шляхом зняття розмірів</li>
                </ul>
                <picture class="creating-ways__picture">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </div>
            <div>
                <h2 class="realistic-models">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>
                <picture class="realistic-models__picture">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture class="realistic-models__picture">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture class="realistic-models__picture">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
                <picture class="realistic-models__picture">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <source srcset="">
                    <img src="" alt="">
                </picture>
            </div>
            <button type="button" class="modelling-orderbutt">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
    
    </section>


