    <section class="modelling-section">
        <div class="modelling-container">
            <h1 class="modelling-title">3D МОДЕЛЮВАННЯ</h1>
            <div class="modelling-title__description">
                <p class="modelling-title__text">Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися шляхом
                    3D
                    друку,
                    обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд
                    інженерних
                    вимог
                    які
                    повинен враховувати дизайнер при розробці моделі.</p>
                <p class="modelling-title__text">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її створення.
                    Ми
                    маємо
                    широкий спектр інструментів для вдоволення будь-якої вашої задачі.</p>
            </div>
    
            <section class="creating-ways creating-ways--background">
                <h2 class="creating-ways__title">Способи створення моделі:</h2>
                <ul class="creating-ways__list list">
                    <li class="creating-ways__item">3D сканування</li>
                    <li class="creating-ways__item">На основі фотографій з доданими розмірами</li>
                    <li class="creating-ways__item">За ескізами з розмірами</li>
                    <li class="creating-ways__item">За вашим кресленням</li>
                    <li class="creating-ways__item">По вже існуючому прототипу шляхом зняття розмірів</li>
                </ul>
         
            </section>
            <section class="creating-ways creating-ways--nopadding">
                <h2 class="creating-ways__title realistic-models">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h2>
                <div class="realistic-models__pictures">
                    <picture class="realistic-models__pictures-item">
                    
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/handcuff.jpg 1x, ./images/mobile/3d-modelling/handcuff@2x.jpg 2x">
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/handcuff.webp 1x, ./images/mobile/3d-modelling/handcuff@2x.webp 2x"
                            type="image/webp">
                                        
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/handcuff.jpg 1x, ./images/tablet/3d-modelling/handcuff@2x.jpg 2x">
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/handcuff.webp 1x, ./images/tablet/3d-modelling/handcuff@2x.webp 2x"
                            type="image/webp">
                                        
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/handcuff.jpg 1x, ./images/desktop/3d-modelling/handcuff@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/handcuff.webp 1x, ./images/desktop/3d-modelling/handcuff@2x.webp 2x"
                            type="image/webp">
                    
                    
                        <img src="./images/tablet/3d-modelling/handcuff.jpg" alt="наручник будущего">
                    </picture>
                    <picture class="realistic-models__pictures-item">

                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/device.jpg 1x, ./images/mobile/3d-modelling/device@2x.jpg 2x">
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/device.webp 1x, ./images/mobile/3d-modelling/device@2x.webp 2x"
                            type="image/webp">
                    
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/device.jpg 1x, ./images/tablet/3d-modelling/device@2x.jpg 2x">
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/device.webp 1x, ./images/tablet/3d-modelling/device@2x.webp 2x"
                            type="image/webp">
                    
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/device.jpg 1x, ./images/desktop/3d-modelling/device@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/device.webp 1x, ./images/desktop/3d-modelling/device@2x.webp 2x"
                            type="image/webp">
                    
                        <img src="./images/tablet/3d-modelling/device.jpg" alt="измерительный прибор">
                    </picture>
                    <picture class="realistic-models__pictures-item">
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/chip.jpg 1x, ./images/mobile/3d-modelling/chip@2x.jpg 2x">
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/chip.webp 1x, ./images/mobile/3d-modelling/chip@2x.webp 2x"
                            type="image/webp">
                    
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/chip.jpg 1x, ./images/tablet/3d-modelling/chip@2x.jpg 2x">
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/chip.webp 1x, ./images/tablet/3d-modelling/chip@2x.webp 2x"
                            type="image/webp">
                    
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/chip.jpg 1x, ./images/desktop/3d-modelling/chip@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/chip.webp 1x, ./images/desktop/3d-modelling/chip@2x.webp 2x"
                            type="image/webp">
                    
                        <img src="./images/tablet/3d-modelling/chip.jpg" alt="моделирование плат">
                    </picture>
                    <picture class="realistic-models__pictures-item">
                        
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/tube.jpg 1x, ./images/mobile/3d-modelling/tube@2x.jpg 2x">
                        <source media="(max-width:767px)"
                            srcset="./images/mobile/3d-modelling/tube.webp 1x, ./images/mobile/3d-modelling/tube@2x.webp 2x"
                            type="image/webp">
                    
                    
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/tube.jpg 1x, ./images/tablet/3d-modelling/tube@2x.jpg 2x">
                        <source media="(min-width:768px and max-width:1199px)"
                            srcset="./images/tablet/3d-modelling/tube.webp 1x, ./images/tablet/3d-modelling/tube@2x.webp 2x"
                            type="image/webp">
                    
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/tube.jpg 1x, ./images/desktop/3d-modelling/tube@2x.jpg 2x">
                        <source media="(min-width:1200px)"
                            srcset="./images/desktop/3d-modelling/tube.webp 1x, ./images/desktop/3d-modelling/tube@2x.webp 2x"
                            type="image/webp">
                    
                        <img src="./images/tablet/3d-modelling/tube.jpg" alt="турбина">
                    </picture>
                </div>
                
            </section>
            <button type="button" class="modelling-orderbutt">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
        </section>
