<section class="section__main">
  <div class="container">
    <h1 class="visually-hidden">КОНТАКТИ</h1>
    <h2 class="title-cont">КОНТАКТИ</h2>
    <div class="video-list">
      <div class="container-video">
        <iframe
          class="container-video"
          src="https://www.youtube.com/embed/FyBXPt_2xzA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <ul class="demonstration-list">
        <li>
          <p class="submission">
            Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
            процесом не на десяток хвилин.
          </p>
        </li>

        <li>
          <p class="submission">
            Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
            друку і просто помилуватися красою цього процесу.
          </p>
        </li>
        <li class="emoji-container">
          <p class="submission-emoji">Приємного перегляду!</p>
        </li>
      </ul>
    </div>

    <div class="contact-us-new">
      <form action="#" class="form-contacts">
        <p class="join-us">ЗВ’ЯЖІТЬСЯ З НАМИ</p>
        <label class="form-user"></label>
        <div class="container-user">
          <span>Ім’я</span>
          <input type="text" class="contact-form" name="user-name" placeholder="Олексій" />
        </div>
        <div class="container-email">
          <label class="form-email"></label>
          <input type="text" class="contact-form" name="user-email" placeholder="Email" />
        </div>
        <div class="container-coments">
          <label class="form-coments">
            <span class="title-message">Повідомлення</span>
            <textarea
              class="coments"
              name="user-massage"
              cols="30"
              rows="10"
              placeholder="Залишіть своє повідомлення"
            ></textarea>
            <p class="advice">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
          </label>
        </div>
        <button class="btn-send button-style" type="button">ВІДПРАВИТИ</button>
      </form>
      <div class="company-link">
        <div class="contacts-nav">
          <h3 class="title-phone">ТЕЛЕФОНИ</h3>
          <a class="phone" href="tel:+380957384551"> +38 (095) -73-84-551 </a>
          <a class="phone" href="tel:+380980025235"> +38 (098) -00-25-235 </a>
        </div>
        <div class="contacts-email">
          <h3 class="title-email">Email</h3>
          <a href="mailto:3dfreedom.info@gmail.com" class="email"> 3dfreedom.info@gmail.com</a>
        </div>
        <div class="contacts-time">
          <h3 class="title-work-time">Робочий час</h3>
          <ul class="contacts-date">
            <li class="work-time">Пн-пт:</li>
            <li class="work-time time">з 8:00 до 19:00</li>
            <li class="work-time">Сб, Нд:</li>
            <li class="work-time time">з 10:00 до 17:00</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
