<footer class="footer container">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="./" class="footer__logo_link link">3D Freedom Logo</a>
    </div>
    <div class="nav-social-address__wrapper">
      <nav class="footer__nav">
        <ul class="nav__list list">
          <li class="nav__list_item">
            <a href="./" class="nav__list_link link">Головна</a>
          </li>
          <li class="nav__list_item">
            <a href="./page_3d_modeling.html" class="nav__list_link link">3D Моделювання</a>
          </li>
          <li class="nav__list_item">
            <a href="./page_3d_scanning.html" class="nav__list_link link">3D Сканування</a>
          </li>
          <li class="nav__list_item">
            <a href="./page_3d_print.html" class="nav__list_link link">3D Друк</a>
          </li>
          <li class="nav__list_item">
            <a href="./page_take_order.html" class="nav__list_link link">Замовити</a>
          </li>
          <li class="nav__list_item">
            <a href="./page_contacts.html" class="nav__list_link link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer__social">
        <ul class="social__list list">
          <li class="social__list_item">
            <a href="" class="social__list_link link">Instagram</a>
          </li>
          <li class="social__list_item">
            <a href="" class="social__list_link link">YouTube</a>
          </li>
          <li class="social__list_item">
            <a href="" class="social__list_link link">Facebook</a>
          </li>
        </ul>
      </div>
      <address class="footer__address">
        <ul class="address__list list">
          <li class="address__list_email">
            <p>Email</p>
            <a class="address__list_email-link link" href="mailto:3dfreedom.info@gmail.com"
              >3dfreedom.info@gmail.com</a
            >
          </li>
          <li class="address__list_tel">
            <p>Телефони</p>
            <a class="address__list_tel-link" href="tel:+380936432288">+38 (093) 643 22 88</a>
            <a class="address__list_tel-link" href="tel:+380503454423">+38 (050) 345 44 23</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
