<!--ГАЛЕРЕЯ -->
<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">ГАЛЕРЕЯ</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <a href="#" class="enlarge" id="zoomIn">
          <div class="gallery__cards hide">
            <picture>
              <source
                media="(min-width: 144px)"
                srcset="
                  ./images/desktop/gallery/gallery-engineering.webp    1x,
                  ./images/desktop/gallery/gallery-engineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1444px)"
                srcset="
                  ./images/desktop/gallery/gallery-engineering.jpg    1x,
                  ./images/desktop/gallery/gallery-engineering@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-engineering.webp    1x,
                  ./images/tablet/gallery/gallery-engineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-engineering.jpg    1x,
                  ./images/tablet/gallery/gallery-engineering@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-engineering.webp    1x,
                  ./images/mobile/gallery/gallery-engineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-engineering.jpg    1x,
                  ./images/mobile/gallery/gallery-engineering@2x.jpg 2x
                "
              />
              <img
                class="gallery-link-list-img"
                src="#"
                alt="метод аналізу та контроль якості"
                width=" "
                height=" "
              />
            </picture>
          </div>
        </a>

        <h3 class="gallery__item-description">Інженерні методи аналізу та контролю якості</h3>
      </li>

      <li class="gallery__item">
        <a href="#" class="enlarge" id="zoomIn">
          <div class="gallery__cards hide">
            <picture>
              <source
                media="(min-width: 144px)"
                srcset="
                  ./images/desktop/gallery/gallery-scanning.webp    1x,
                  ./images/desktop/gallery/gallery-scanning@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1444px)"
                srcset="
                  ./images/desktop/gallery/gallery-scanning.jpg    1x,
                  ./images/desktop/gallery/gallery-scanning@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-scanning.webp    1x,
                  ./images/tablet/gallery/gallery-scanning@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-scanning.jpg    1x,
                  ./images/tablet/gallery/gallery-scanning@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-scanning.webp    1x,
                  ./images/mobile/gallery/gallery-scanning@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-scanning.jpg    1x,
                  ./images/mobile/gallery/gallery-scanning@2x.jpg 2x
                "
              />
              <img
                class="gallery-link-list-img"
                src="#"
                alt="сканування моделі авто"
                width=" "
                height=" "
              />
            </picture>
          </div>
        </a>

        <h3 class="gallery__item-description">Високоточне 3D сканування</h3>
      </li>

      <li class="gallery__item">
        <a href="#" class="enlarge" id="zoomIn">
          <div class="gallery__cards hide">
            <picture>
              <source
                media="(min-width: 144px)"
                srcset="
                  ./images/desktop/gallery/gallery-revengineering.webp    1x,
                  ./images/desktop/gallery/gallery-revengineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1444px)"
                srcset="
                  ./images/desktop/gallery/gallery-revengineering.jpg    1x,
                  ./images/desktop/gallery/gallery-revengineering@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-revengineering.webp    1x,
                  ./images/tablet/gallery/gallery-revengineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-revengineering.jpg    1x,
                  ./images/tablet/gallery/gallery-revengineering@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-revengineering.webp    1x,
                  ./images/mobile/gallery/gallery-revengineering@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-revengineering.jpg    1x,
                  ./images/mobile/gallery/gallery-revengineering@2x.jpg 2x
                "
              />
              <img
                class="gallery-link-list-img"
                src="#"
                alt="створення точної копії моделі"
                width=" "
                height=" "
              />
            </picture>
          </div>
        </a>

        <h3 class="gallery__item-description">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>

      <li class="gallery__item">
        <a href="#" class="enlarge" id="zoomIn">
          <div class="gallery__cards hide">
            <picture>
              <source
                media="(min-width: 144px)"
                srcset="
                  ./images/desktop/gallery/gallery-3dprojecting.webp    1x,
                  ./images/desktop/gallery/gallery-3dprojecting@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1444px)"
                srcset="
                  ./images/desktop/gallery/gallery-3dprojecting.jpg    1x,
                  ./images/desktop/gallery/gallery-3dprojecting@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-3dprojecting.webp    1x,
                  ./images/tablet/gallery/gallery-3dprojecting@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/tablet/gallery/gallery-3dprojecting.jpg    1x,
                  ./images/tablet/gallery/gallery-3dprojecting@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-3dprojecting.webp    1x,
                  ./images/mobile/gallery/gallery-3dprojecting@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/mobile/gallery/gallery-3dprojecting.jpg    1x,
                  ./images/mobile/gallery/gallery-3dprojecting@2x.jpg 2x
                "
              />
              <img
                class="gallery-link-list-img"
                src="#"
                alt="створення реалістичної моделі авто"
                width=" "
                height=" "
              />
            </picture>
          </div>
        </a>

        <h3 class="gallery__item-description">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
  </div>
</section>
