<!--ГАЛЕРЕЯ -->

<section class="gallery container">
  <h2 class="gallery__title">ГАЛЕРЕЯ</h2>
  <ul class="gallery__list list">
    <li class="gallery__item">
      <picture>
        <!-- <source
          media="(min-width: 144px)"
          srcset="
            ./images/desktop/product_designer.webp    1x,
            ./images/desktop/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 1444px)"
          srcset="
            ./images/desktop/gallery/gallery-engineering.jpg    1x,
            ./images/desktop/gallery/gallery-engineering@2x.jpg 2x
          "
        />
        <!-- <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/product_designer.webp    1x,
            ./images/tablet/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery/gallery-engineering.jpg    1x,
            ./images/tablet/gallery/gallery-engineering@2x.jpg 2x
          "
        />
        <!-- <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/product_designer.webp    1x,
            ./images/mobile/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery/gallery-engineering.jpg    1x,
            ./images/mobile/gallery/gallery-engineering@2x.jpg 2x
          "
        />
        <img
          class="gallery-link-list-img"
          src="#"
          alt="метод аналізу та контроль якості"
          width=" "
          height=" "
        />
      </picture>
      <p class="gallery__item-description">Інженерні методи аналізу та контролю якості</p>
    </li>
    <li class="gallery__item">
      <picture>
        <!-- <source
          media="(min-width: 144px)"
          srcset="
            ./images/desktop/product_designer.webp    1x,
            ./images/desktop/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 1444px)"
          srcset="
            ./images/desktop/gallery/gallery-scanning.jpg    1x,
            ./images/desktop/gallery/gallery-scanning@2x.jpg 2x
          "
        />
        <!-- <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/product_designer.webp    1x,
            ./images/tablet/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery/gallery-scanning.jpg    1x,
            ./images/tablet/gallery/gallery-scanning@2x.jpg 2x
          "
        />
        <!-- <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/product_designer.webp    1x,
            ./images/mobile/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery/gallery-scanning.jpg    1x,
            ./images/mobile/gallery/gallery-scanning@2x.jpg 2x
          "
        />
        <img
          class="gallery-link-list-img"
          src="#"
          alt="сканування моделі авто"
          width=" "
          height=" "
        />
      </picture>
      <p class="gallery__item-description">Високоточне 3D сканування</p>
    </li>
    <li class="gallery__item">
      <picture>
        <!-- <source
          media="(min-width: 144px)"
          srcset="
            ./images/desktop/product_designer.webp    1x,
            ./images/desktop/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 1444px)"
          srcset="
            ./images/desktop/gallery/gallery-revengineering.jpg    1x,
            ./images/desktop/gallery/gallery-revengineering@2x.jpg 2x
          "
        />
        <!-- <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/product_designer.webp    1x,
            ./images/tablet/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery/gallery-revengineering.jpg    1x,
            ./images/tablet/gallery/gallery-revengineering@2x.jpg 2x
          "
        />
        <!-- <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/product_designer.webp    1x,
            ./images/mobile/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery/gallery-revengineering.jpg    1x,
            ./images/mobile/gallery/gallery-revengineering@2x.jpg 2x
          "
        />
        <img
          class="gallery-link-list-img"
          src="#"
          alt="створення точної копії моделі"
          width=" "
          height=" "
        />
      </picture>
      <p class="gallery__item-description">
        Створення точної копії на базі сканування reverse engineering
      </p>
    </li>
    <li class="gallery__item">
      <picture>
        <!-- <source
          media="(min-width: 144px)"
          srcset="
            ./images/desktop/product_designer.webp    1x,
            ./images/desktop/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 1444px)"
          srcset="
            ./images/desktop/gallery/gallery-3dprojecting.jpg    1x,
            ./images/desktop/gallery/gallery-3dprojecting@2x.jpg 2x
          "
        />
        <!-- <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/product_designer.webp    1x,
            ./images/tablet/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/tablet/gallery/gallery-3dprojecting.jpg    1x,
            ./images/tablet/gallery/gallery-3dprojecting@2x.jpg 2x
          "
        />
        <!-- <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/product_designer.webp    1x,
            ./images/mobile/product_designer@2x.webp 2x
          "
          type="image/webp"
        /> -->
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/gallery/gallery-3dprojecting.jpg    1x,
            ./images/mobile/gallery/gallery-3dprojecting@2x.jpg 2x
          "
        />
        <img
          class="gallery-link-list-img"
          src="#"
          alt="створення реалістичної моделі авто"
          width=" "
          height=" "
        />
      </picture>
      <p class="gallery__item-description">
        Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
      </p>
    </li>
  </ul>
</section>
