<header class="header">
  <div class="header-menu">
    <a class="header-logo" href="">
      <img src="./images/logo.png" alt="" width="101" height="25"></a>
    <button class="toggle-hamburger toggle-hamburger__animx">
      <span></span>
    </button>
    <button class="header-button " type="button">
      <svg class="icon-tell" width="18" height="18">
        <use href="./images/project-sprite.svg#icon-tell"></use>
      </svg>
    </button>
    <div class="custom-select" style="width: 31px; height: 18px;">
      <select>
        <option value="0">ENG</option>
        <option value="1">ENG</option>
        <option value="2">UKR</option>
        <option value="3">RUS</option>
      </select>
    </div>
  </div>
  <div class="tell-menu">

  </div>
</header>


