<section>
    <h1>Інженерна, конструкторська та дизайнерська робота</h1>
    <ul>
        <li>
            <picture>
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <img src="" alt="">
            </picture>
        </li>
        <li>
            <picture>
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <img src="" alt="">
            </picture>
        </li>
        <li>
            <picture>
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <source media="(min-width: )" srcset="" type="image/">
                <img src="" alt="">
            </picture>
        </li>
    </ul>
    <strong>Ми втілюємо ідеї в реальність</strong>
</section>