<section class="hero container section__hero">
        <h1 class="hero__title">Інженерна, конструкторська<br> та дизайнерська робота</h1>
        <ul class="hero__list list">
            <li class="hero__item">
                <picture class="hero__picture">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-robot.webp 1x, ./images/desktop/hero/hero-robot@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-robot.jpg 1x, ./images/desktop/hero/hero-robot@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-robot.webp 1x, ./images/tablet/hero/hero-robot@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-robot.jpg 1x, ./images/tablet/hero/hero-robot@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-robot.webp 1x, ./images/mobile/hero/hero-robot@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-robot.jpg 1x, ./images/mobile/hero/hero-robot@2x.jpg 2x">
                    <img class="hero__picture--top-right" src="#" alt="роботизированная машина">
                </picture>
            </li>
            <li class="hero__item">
                <picture class="hero__picture">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-lamp.webp 1x, ./images/desktop/hero/hero-lamp@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-lamp.jpg 1x, ./images/desktop/hero/hero-lamp@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-lamp.webp 1x, ./images/tablet/hero/hero-lamp@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-lamp.jpg 1x, ./images/tablet/hero/hero-lamp@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-lamp.webp 1x, ./images/mobile/hero/hero-lamp@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-lamp.jpg 1x, ./images/mobile/hero/hero-lamp@2x.jpg 2x">
                    <img class="hero__picture--circle" src="#" alt="лампа">
                </picture>
            </li>
            <li class="hero__item">
                <picture class="hero__picture">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-neonbrand.webp 1x, ./images/desktop/hero/hero-neonbrand@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1444px)" srcset="./images/desktop/hero/hero-neonbrand.jpg 1x, ./images/desktop/hero/hero-neonbrand@2x.jpg 2x">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-neonbrand.webp 1x, ./images/tablet/hero/hero-neonbrand@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="./images/tablet/hero/hero-neonbrand.jpg 1x, ./images/tablet/hero/hero-neonbrand@2x.jpg 2x">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-neonbrand.webp 1x, ./images/mobile/hero/hero-neonbrand@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 320px)" srcset="./images/mobile/hero/hero-neonbrand.jpg 1x, ./images/mobile/hero/hero-neonbrand@2x.jpg 2x">
                    <img class="hero__picture--top-bottom" src="#" alt="абстракция черепа">
                </picture>
            </li>
        </ul>
        <a class="hero__link" href="#">
            <svg class="hero__icon" width="9" height="14">
                <use href="./images/project-sprite.svg#icon-bottom"></use>
            </svg>
        </a>
        <strong class="slogan">Ми втілюємо ідеї в реальність</strong>
</section>