<!-- Сделать заказ -->
<section class="make-order container">
    <h1 class="make-order__head">ЗРОБИТИ ЗАМОВЛЕННЯ</h1>
    <!-- Первая коробка -->
    <div class="make-order__first-thumb">
        <picture>
            <img src="" alt="">
        </picture>
    </div>
    <!-- Вторая коробка -->
    <div class="make-order__second-thumb">
        <p class="make-order__description">На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося
            з вами.</p>
        <p class="make-order__description clean">Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть
            відповідь на всі ваші запитання.</p>

        <div class="make-order-gallery">
            <ul class="make-order-gallery__scroll">
                <li class="make-order-gallery__item"></li>
                <li class="make-order-gallery__item"></li>
                <li class="make-order-gallery__item"></li>
            </ul>
        </div>

    </div>

</section>
<!-- Связаться с  нами (форма)-->
<section class="contact-us container">
    <h2 class="contact-us__head">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
    <form class="form" method="POST" action="#">
        <!-- Имя пользователя -->
        <div class="form__wrapper">
            <span class="form__field">

                <input class="form__input" type="text" name="user-name" id="name" required
                    pattern="[A-Za-zА-Яа-яЁёІіЇїЄє]{2,20}" placeholder=" ">
                <label class="form__name" for="name">Ім’я</label>
            </span>
            <!-- Email пользователя -->
            <span class="form__field">

                <input class="form__input" type="email" name="user-mail" id="mail" required placeholder=" ">
                <label class="form__name" for="mail">Email</label>
            </span>

            <!-- Виды пластика -->

            <span class="form__field-select">
                <label for="species" class="select-name">Види пластика</label>
                <select name="select " id="species" class="select">
                    <option value="1">Поліпропілен</option>
                    <option value="2">Полівінілхлорид</option>
                    <option value="3">Полістирол</option>
                    <option value="4">Акрилонітрил</option>
                </select>
            </span>


            <span class="form__field-select">
                <label for="species" class="select-name">Якість друку</label>
                <select name="select " id="species" class="select">
                    <option value="1">300 мікрон</option>
                    <option value="2">200 мікрон</option>
                    <option value="3">100 мікрон</option>
                    <option value="4">Труднощі у виборі - ми допоможемо</option>
                </select>
            </span>


            <span class="form__field-select">
                <label for="species" class="select-name">Колір </label>
                <select name="select " id="species" class="select">
                    <option value="1">Синій</option>
                    <option value="2">Червоний</option>
                    <option value="3">Жовтий</option>
                    <option value="4">Зелений</option>
                </select>
            </span>


        </div>









        <!-- Сообщение пользователя и файл -->
        <div class="form__field-text">
            <label class="textarea-head" for="text">Повідомлення</label>
            <textarea class="textarea-text" name="uxer-text" id="text" rows="10"
                placeholder="Залишіть своє повідомлення"></textarea>

            <label for="file">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</label>
            <input type="file" name="user-file" id="file" class="icon-file">
        </div>

        <button type="submit">ВІДПРАВИТИ</button>
    </form>
</section>
<!-- Контакты и график работы -->
<section class="information container">
    <!-- скрытый заголовок-->
    <h2 class="information__head visually-hidden">КОНТАКТИ</h2>
    <!--  -->

    <!-- номера телефонов -->
    <ul class="information-scroll">
        <li class="information-scroll__thumb">
            <h3 class="information-scroll__head">ТЕЛЕФОНИ</h3>
            <ul class="information-scroll-numbers list">
                <li class="information-scroll-numbers__items">
                    <a class="tel-link link" href="tel:+380957384551">+38 (095) -73-84-551</a>
                </li>
                <li class="information-scroll-numbers__items clean">
                    <a class="tel-link link" href="tel:+380980025235">+38 (098) -00-25-235</a>
                </li>
            </ul>
        </li>
        <!-- электронная почта -->
        <li class="information-scroll__thumb">
            <h3 class="information-scroll__head">Email</h3>
            <ul class="information-scroll-mail">
                <li class="information-scroll-mail__item">
                    <a class="mail-link link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                </li>

            </ul>
        </li>
        <!-- график работы -->
        <li class="information-scroll__thumb clean">
            <h3 class="information-scroll__head">Робочий час</h3>
            <ul class="information-scroll-date">
                <li class="information-scroll-date__item">
                    <p class="information-scroll-date__description">Пн-пт: з 8:00 до 19:00</p>
                </li>
                <li class="information-scroll-date__item clean">
                    <p class="information-scroll-date__description">Сб, Нд: з 10:00 до 17:00</p>
                </li>
            </ul>
        </li>
        <li>
            <div class="logo-d">
                <picture>
                    <img src="" alt="эмблема компании">
                </picture>
            </div>
        </li>

    </ul>

</section>