<section class="we-create section__main">
  <div class="container we-create__container">
    <h1 class="visually-hidden">ми створюємо</h1>
    <h2 class="we-create__title">ми створюємо</h2>

    <ul class="we-create__list-products list">
      <li class="we-create__item-products we-create__thub-tl-br_products">
        <img
          class="we-create__img_products we-create__creation"
          src="./images/mobile/we-create/creation.png"
          alt="приклад прототипу"
        />
        <p class="we-create__subtitle-products">ПРОТОТИПИ</p>
      </li>

      <li class="we-create__item-products">
        <div class="we-create__thub-tl-br_products">
          <!-- <picture class="hero__picture we-create__thub-tl-br_offer">
          <source media="(min-width: 1444px)"
            srcset="./images/desktop/we-create/template.webp 1x, ./images/desktop/we-create/template@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 1444px)"
            srcset="./images/desktop/we-create/template.jpg 1x, ./images/desktop/we-create/template@2x.jpg 2x">
          <source media="(min-width: 768px)"
            srcset="./images/tablet/we-create/template.webp 1x, ./images/tablet/we-create/template@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 768px)"
            srcset="./images/tablet/we-create/template.jpg 1x, ./images/tablet/we-create/template@2x.jpg 2x">
          <source media="(min-width: 320px)"
            srcset="./images/mobile/we-create/template.webp 1x, ./images/mobile/we-create/template@2x.webp 2x"
            type="image/webp">
          <source media="(min-width: 320px)"
            srcset="./images/mobile/we-create/template.jpg 1x, ./images/mobile/we-create/template@2x.jpg 2x">
          <img class="we-create__img_offer" src="#" alt="приклад прототипу">
        </picture>

        <img class="we-create__img_products we-create__creation" src="#" alt="" />
          -->
          <p class="we-create__subtitle-products">МАКЕТИ</p>
        </div>
      </li>

      <li class="we-create__item-products">
        <div class="we-create__thub-tl-br_products">
          <img class="we-create__img_products we-create__decor" src="#" alt="приклад декору" />

          <p class="we-create__subtitle-products">ДЕКОР</p>
        </div>
      </li>

      <li class="we-create__item-products">
        <div class="we-create__thub-tl-br_products">
          <img class="we-create__img_products we-create__3d-coub" src="#" alt="емблема компанії" />
          <p class="we-create__subtitle-products">КОРПОРАТИВНИЙ ДИЗАЙН</p>
        </div>
      </li>
    </ul>

    <h2 class="visually-hidden">Пропозиції наших послуг</h2>
    <ul class="we-create__list-offer list">
      <li class="we-create__item-offer">
        <picture class="hero__picture we-create__thub-tl-br_offer">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we-create/template.png    1x,
              ./images/desktop/we-create/template@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we-create/template.png    1x,
              ./images/tablet/we-create/template@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we-create/template.png    1x,
              ./images/mobile/we-create/template@2x.png 2x
            "
          />
          <img class="we-create__img_offer" src="#" alt="приклад надрукованого виробу" />
        </picture>

        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-друк</span>
            - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування
            об'єкта за допомогою 3D принтера.
          </p>
          <p class="we-create__txt">
            Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
            системах автоматизованого проектування.
          </p>
          <p class="we-create__txt">
            3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві
            і багатьох інших сфер.
          </p>
          <button type="button" class="we-create__button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>

        </div>
      </li>

      <li class="we-create__item-offer">
        <div class="we-create__thub-tl-br_offer">
          <img class="we-create__img_offer" src="#" alt="процес моделювання виробу" />
        </div>
        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-моделювання</span>
            - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах
            за допомогою спеціалізованого програмного забезпечення.
          </p>
          <p class="we-create__txt">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
          </p>
          <p class="we-create__txt">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші потреби.
          </p>
          <button type="button" class="we-create__button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>

        </div>
      </li>
      <li class="we-create__item-offer">
        <div class="we-create__thub-tl-br_offer">
          <img class="we-create__img_offer" src="#" alt="процес сканування виробу" />
        </div>


        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-сканування</span> - зняття даних, шляхом аналізу
            форми предмета і на основі отриманих даних створення її 3D-моделі.
          </p>

          <p class="we-create__txt">
            Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
            візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
            3D-принтері.
          </p>
          <button type="button" class="we-create__button button-style">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
    </ul>
  </div>
</section>