<section class="we-create section__main background">
  <div class="container we-create__container">
    <h1 class="visually-hidden">ми створюємо</h1>
    <h2 class="we-create__title">ми створюємо</h2>

    <ul class="we-create__list-products list">
      <li class="we-create__item-products">
        <picture class="we-create__thub-tl-br_products">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/creation.png    1x,
              ./images/desktop/we_create/creation@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/creation.png    1x,
              ./images/tablet/we_create/creation@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/creation.png    1x,
              ./images/mobile/we_create/creation@2x.png 2x
            "
          />
          <img
            class="we-create__creation we-create__img_products"
            src="#"
            alt="приклад прототипу"
          />
        </picture>
        <p class="we-create__subtitle-products">ПРОТОТИПИ</p>
      </li>

      <li class="we-create__item-products">
        <picture class="we-create__thub-tl-br_products">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/template.png    1x,
              ./images/desktop/we_create/template@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/template.png    1x,
              ./images/tablet/we_create/template@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/template.png    1x,
              ./images/mobile/we_create/template@2x.png 2x
            "
          />
          <img
            class="we-create__template we-create__img_products"
            src="#"
            alt="приклад надрукованого виробу"
          />
        </picture>
        <p class="we-create__subtitle-products">МАКЕТИ</p>
      </li>

      <li class="we-create__item-products">
        <picture class="we-create__thub-tl-br_products">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/decor.png    1x,
              ./images/desktop/we_create/decor@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/decor.png    1x,
              ./images/tablet/we_create/decor@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/decor.png    1x,
              ./images/mobile/we_create/decor@2x.png 2x
            "
          />
          <img class="we-create__decor we-create__img_products" src="#" alt="приклад декору" />
        </picture>
        <p class="we-create__subtitle-products">ДЕКОР</p>
      </li>

      <li class="we-create__item-products">
        <picture class="we-create__thub-tl-br_products">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/3d-coub.png    1x,
              ./images/desktop/we_create/3d-coub@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/3d-coub.png    1x,
              ./images/tablet/we_create/3d-coub@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/3d-coub.png    1x,
              ./images/mobile/we_create/3d-coub@2x.png 2x
            "
          />
          <img class="we-create__3d-coub we-create__img_products" src="#" alt="емблема компанії" />
        </picture>
        <p class="we-create__subtitle-products">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>

    <h2 class="visually-hidden">Пропозиції наших послуг</h2>
    <ul class="we-create__list-offer list">
      <li class="we-create__item-offer">
        <picture class="we-create__border">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/print.jpg    1x,
              ./images/desktop/we_create/print@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/print.jpg    1x,
              ./images/tablet/we_create/print@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/print.jpg    1x,
              ./images/mobile/we_create/print@2x.jpg 2x
            "
          />
          <img class="we-create__img-offer" src="#" alt="приклад прототипу" />
        </picture>
        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-друк</span>
            - ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування
            об'єкта за допомогою 3D принтера.
          </p>
          <p class="we-create__txt">
            Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні:
            системах автоматизованого проектування.
          </p>
          <p class="we-create__txt">
            3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві
            і багатьох інших сфер.
          </p>
          <button type="button" class="we-create__button button-style">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>

      <li class="we-create__item-offer">
        <picture class="we-create__border">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/model.jpg    1x,
              ./images/desktop/we_create/model@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/we_create/model.jpg    1x,
              ./images/tablet/we_create/model@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/we_create/model.jpg    1x,
              ./images/mobile/we_create/model@2x.jpg 2x
            "
          />
          <img class="we-create__img-offer" src="#" alt="процес моделювання виробу" />
        </picture>
        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-моделювання</span>
            - це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох вимірах
            за допомогою спеціалізованого програмного забезпечення.
          </p>
          <p class="we-create__txt">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
          </p>
          <p class="we-create__txt">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить
            ваші потреби.
          </p>
          <button type="button" class="we-create__button button-style">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
      <li class="we-create__item-offer">
        <picture class="we-create__border">
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/we_create/scan.jpg    1x,
              ./images/desktop/we_create/scan@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/tablet/we_create/scan.jpg 1x, ./images/tablet/we_create/scan@2x.jpg 2x"
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/mobile/we_create/scan.jpg 1x, ./images/mobile/we_create/scan@2x.jpg 2x"
          />
          <img class="we-create__img_offer" src="#" alt="процес сканування виробу" />
        </picture>

        <div class="we-create__description">
          <p class="we-create__txt">
            <span class="we-create__txt-span">3D-сканування</span> - зняття даних, шляхом аналізу
            форми предмета і на основі отриманих даних створення її 3D-моделі.
          </p>

          <p class="we-create__txt">
            Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
            візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
            3D-принтері.
          </p>
          <button type="button" class="we-create__button button-style">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
        </div>
      </li>
    </ul>
  </div>
</section>
