.thumb {
  height: 158px;
  width: 133px;

  // обираємо форму за закругленням (top left bottom right)

  // tl-br
  border-radius: 50px 0px;
  // tr-bl
  border-radius: 0px 50px;
  // thumb-tr-tl
  border-radius: 72px 72px 0 0;
  // bl
  border-radius: 0px 0px 0px 50px;
  // tr
  border-radius: 0px 50px 0px 0px;

  background-color: #ffffff;

  // якщо потрібна внутрішня тінь
  box-shadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
    inset -1px -1px 16px #ffffff;
  // якщо потрібна зовнішня тінь
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.3);
}
