.contacts {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 76px;
}
.title-cont {
  height: 30px;
  left: 20px;
  top: 93px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;

  color: #487996;
}
.container-video {
  margin-bottom: 16px;
  border-radius: 15px;
}
.demonstration-list {
  margin-bottom: 36px;
  list-style: none;
}
.submission {
  padding-bottom: 16px;
  left: 20px;
  top: 326px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;

  color: #2b2b2b;
}
.join-us {
  margin-bottom: 8px;
  height: 23px;
  left: 20px;
  top: 610px;

  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  /* identical to box height */

  color: #487996;
}
.container-coments {
  padding-bottom: 26px;
}
.form {
  width: 280px;
  height: 554px;
  left: 20px;
}
.container-user {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
.user-name {
  font-size: 14px;
  line-height: 1.42;
}
.container-email {
  margin-bottom: 44px;
}
.contact-form {
  width: 280px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #487996;
}
.title-message {
  font-size: 16px;
  line-height: 1.25;

  text-transform: capitalize;

  color: #2b2b2b;
}
.coments {
  margin-top: 4px;
  padding-top: 20px;
  padding-left: 22px;
  width: 280px;
  height: 199px;
  left: 20px;
  top: 821px;

  border: 1px solid #487996;
  border-radius: 50px 0px;
}
.advice {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 125%;
  // grey
  color: #cdcdcd;
}
.btn-send {
  width: 280px;
  height: 56px;
  left: 20px;
  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border-color: transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #487996;
}
.title-phone {
  width: 247px;
  height: 23px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 23px;

  color: #487996;
}
.contacts-nav {
  padding-top: 26px;
  padding-bottom: 8px;
}
.phone {
  display: flex;
  margin-bottom: 8px;
  flex-direction: column;
  width: 247px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;

  color: #2b2b2b;
  text-decoration: none;
  list-style: none;
}
.title-email {
  width: 72px;
  height: 23px;
  font-size: 18px;
  line-height: 23px;

  color: #487996;
}
.contacts-email {
  padding-top: 8px;
  padding-bottom: 12px;
}
.email {
  width: 247px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;

  color: #2b2b2b;
  text-decoration: none;
  list-style: none;
}
.title-work-time {
  width: 280px;
  height: 23px;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 23px;
  text-transform: uppercase;

  color: #487996;
}
.work-time {
  height: 40px;
  font-size: 16px;
  line-height: 1.25;
  margin-left: 0;
  margin-bottom: 8px;
  color: #2b2b2b;
}
