.footer {
  background-color: #f5f5fa;
  box-shadow: 0px 10px 5px rgba(72, 121, 150, 0.1), 0px -10px 5px rgba(72, 121, 150, 0.1);
}

.nav__list_link {
  color: #2b2b2b;
}

.social__list_link {
  color: #2b2b2b;
}

.address__list_email {
  padding-bottom: 24px;
  &-link {
    color: #487996;
  }
}

.address__list_tel-link {
  display: block;
  color: #487996;
}

.footer__container {
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (min-width: 1444px) {
    display: flex;
  }
}

.footer__logo {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1444px) {
    flex-grow: 4;
  }
}

.footer__logo_image {
  margin: 0 auto;

  @media screen and (min-width: 1444px) {
    margin: unset;
  }
}

.footer__social {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    text-align: unset;
  }
}

.footer__address {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  @media screen and (min-width: 768px) {
    text-align: right;
  }
  @media screen and (min-width: 1444px) {
    text-align: left;
    margin-right: 76px;
  }
}

.footer__nav {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;

  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    text-align: unset;
  }
}

.nav-social-address__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1444px) {
    flex-grow: 5;
  }
}
