.hero {
    position: relative;
    &__title {
        font-family: 'Caviar Dreams', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16;
        text-align: center;

        color: var(--color-main);

        margin-bottom: 32px;
        @media screen and (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 64px;
        }
        @media screen and (min-width: 1444px) {
        font-size: 48px;
        margin-bottom: 68px;
        max-width: 624px;
        margin-left: auto;
        margin-right: auto;
        }

    }
    &__list {
        display: flex;
        justify-content: center;
        
        max-width: 280px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;

        filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));

        @media screen and (min-width: 768px) {
            max-width: 380px;
            margin-bottom: 65px;}
        @media screen and (min-width: 1444px) {
            max-width: 688px;
            margin-bottom: 100px;
        }

    }
    &__item {

        margin-right: 15px;
        @media screen and (min-width: 768px) {
            margin-right: 20px;}
        @media screen and (min-width: 1444px) {
            margin-right: 35px;}
            }
    &__picture {
        // display: block;
        // width: 83px;
        // height: 83px;
        // @media screen and (min-width: 768px) {
        //     width: 113px;
        //     height: 113px;
        // }
        // @media screen and (min-width: 1444px) {
        //     width: 205px;
        //     height: 205px;
        // }
    &--top-right {
            border-radius: 0px 35px 0px 0px;
        }
    &--circle {
            border-radius: 100px;
        }
    &--top-bottom {
            border-radius: 0px 25px;
            @media screen and (min-width: 1444px) {
                border-radius: 0px 72px;}
        }}
    &__link {
    display: none;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;

        left: 96px;
        bottom: 122px;
    }
    @media screen and (min-width: 1444px) {
        left: 65px;
        bottom: 160px;
    }
            }
    &__icon {
        fill: #008CEF;
        @media screen and (min-width: 1444px) {
            width: 18px;
            height: 28px;
        }
        
    }
} 

.slogan {
    display: block;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;

    text-align: center;
    @media screen and (min-width: 768px) {
        font-size: 18px;}
    @media screen and (min-width: 1444px) {
        font-size: 36px;
    }
        }
