.hero {
    &-title {
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16;
        text-align: center;

        color: var(--color-main);

        margin-bottom: 32px;
    }
    &-item:not(:last child) {
        margin-left: 15px;
    }
}
.slogan {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
}