.more-photos {
  padding-bottom: 153px;
  @media screen and (min-width: 768px) {
    padding-bottom: 129px;
  }
  @media screen and (min-width: 1444px) {
    padding-bottom: 201px;
  }
}

.more-photos__title {
  @include title-main($fs: 24px, $lh: 30px);
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1444px) {
    margin-bottom: 52px;
    @include title-main($fs: 48px, $lh: 60px);
  }
}
.more-photos__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-bottom: -19px;
  }
  @media screen and (min-width: 1444px) {
    margin-bottom: -32px;
    margin-left: -32px;
  }
}
.more-photos__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 19px;
    margin-left: 18px;
  }
  @media screen and (min-width: 1444px) {
    justify-content: space-between;
    margin-bottom: 32px;
    margin-left: 32px;
  }
}

.more-photos__item_none {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// slider
// .more-photos__list_slider {
// }
// .more-photos__item_slider {
// }
// .slick-slider {
//   text-align: center;
// }

// modal window
.more-photos-modal-window {
  background-color: transparent;
  border: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 580px;
  // @media screen and (max-width: 767px) {
  //   width: 150px;
  // }
  // @media screen and (min-width: 768px) {
  //   width: 542px;
  // }
  // @media screen and (min-width: 1444px) {
  //   width: 580px;
  // }
}
.slick-prev {
  position: absolute;
  top: 0;
  left: -80px;
  width: 150px;
  height: 500px;
  // opacity: 0;
}
.slick-next {
  position: absolute;
  top: 0;
  left: 542px;
  width: 150px;
  height: 500px;
  // opacity: 0;
}
.button-prev-svg {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 267px;
  left: -76px;
  fill: white;
  background-color: transparent;
}
.button-next-svg {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 267px;
  left: 596px;
  fill: white;
  background-color: transparent;
}
.button-prev {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.button-next {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
