// .more-photos {
//   padding-bottom: 153px;
//   @media screen and (min-width: 768px) {
//     padding-bottom: 129px;
//   }
//   @media screen and (min-width: 1444px) {
//     padding-bottom: 201px;
//   }
// }
.more-photos__title {
  @include title-main($fs: 24px, $lh: 30px);
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    @include title-main($fs: 36px, $lh: 45px);
  }
  @media screen and (min-width: 1444px) {
    margin-bottom: 52px;
    @include title-main($fs: 48px, $lh: 60px);
  }
}
.more-photos__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-bottom: -19px;
  }
  @media screen and (min-width: 1444px) {
    margin-bottom: -32px;
    margin-left: -32px;
  }
}
.more-photos__item {
  // &:hover {
  // }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 19px;
    margin-left: 18px;
  }
  @media screen and (min-width: 1444px) {
    justify-content: space-between;
    margin-bottom: 32px;
    margin-left: 32px;
  }
}

.more-photos__item_none {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

// slider
.more-photos__list_slider {
  @media screen and (min-width: 768px) {
    margin-left: 30%;
  }
}

// modal window
.more-photos-modal-window {
  position: absolute;
  height: 500px;
  background-color: transparent;
  border: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 767px) {
    max-width: 300px;
  }
  @media screen and (min-width: 768px) {
    max-width: 542px;
  }
  @media screen and (min-width: 1444px) {
    max-width: 580px;
  }
}
.slick-prev {
  position: absolute;

  width: 150px;
  height: 500px;
  opacity: 0;
  @media screen and (max-width: 767px) {
    top: -100px;
    left: -150px;
  }
  @media screen and (min-width: 768px) {
    top: -100px;
    left: -150px;
  }
  @media screen and (min-width: 1444px) {
    top: -100;
    left: -150px;
  }
}
.slick-next {
  position: absolute;
  width: 150px;
  height: 500px;
  opacity: 0;
  @media screen and (max-width: 767px) {
    top: -100px;
    left: 250px;
  }
  @media screen and (min-width: 768px) {
    top: -100px;
    left: 230px;
  }
  @media screen and (min-width: 1444px) {
    top: -100px;
    left: 406px;
  }
}
.button-prev-svg {
  position: absolute;
  fill: white;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    width: 11px;
    height: 10px;
    top: 90px;
    left: -10px;
  }
  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
    top: 85px;
    left: 115px;
  }
  @media screen and (min-width: 1444px) {
    width: 42px;
    height: 42px;
    top: 135px;
    left: 110px;
  }
}
.button-next-svg {
  position: absolute;
  fill: white;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    width: 11px;
    height: 10px;
    top: 90px;
    left: 295px;
  }
  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
    top: 85px;
    left: 420px;
  }
  @media screen and (min-width: 1444px) {
    width: 42px;
    height: 42px;
    top: 135px;
    left: 590px;
  }
}
.button-prev {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.button-next {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
