.form__field {
  position: relative;
  display: flex;
  text-align: center;

  border: transparent;
  border-bottom: 1px solid #487996;

  margin-bottom: 44px;
}
.form__field-select {
  position: relative;
  display: flex;
  text-align: center;

  border: transparent;
  border-bottom: 1px solid #487996;

  margin-bottom: 44px;
}

.form__field-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9.5px 0 9.5px;
  border-color: #000000 transparent transparent transparent;
  pointer-events: none;
}

.form__input {
  border: transparent;
  width: 100%;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;

  border: transparent;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  width: 100%;
}

.select::-ms-expand {
  display: none;
}

.textarea-head {
  display: block;
}

.textarea-text {
  display: block;
  width: 100%;
  border: 1px solid #487996;
  border-radius: 50px 0px;

  padding-left: 20px;
  padding-top: 22px;
}

.icon-file {
  appearance: none;
}
