.make-order__head {
  @include title-main($fs: 24px, $lh: 30px);
  margin-bottom: 16px;
}
.make-order__first-thumb {
  margin-bottom: 16px;
}

.make-order__second-thumb {
  margin-bottom: 52px;
}

.make-order__description {
  @include txt($fs: 16px, $lh: 20px);
  margin-bottom: 16px;
}
.clean {
  margin: 0;
}
@media screen and (max-width: 1443px) {
  .make-order-gallery {
    display: none;
  }
}

.contact-us__head {
  @include title-main($fs: 24px, $lh: 30px);
  margin-bottom: 28px;
}

.form__field {
  position: relative;
  display: flex;
  text-align: center;

  border: transparent;
  border-bottom: 1px solid #487996;

  margin-bottom: 44px;
}
.form__field-select {
  position: relative;
  display: flex;
  text-align: center;

  border: transparent;
  border-bottom: 1px solid #487996;

  margin-bottom: 44px;

  height: 24px;
}

.form__field-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9.5px 0 9.5px;
  border-color: #000000 transparent transparent transparent;
  pointer-events: none;
}

.form__name {
  position: absolute;
  top: 50%;
  left: 1px;

  transform: translateY(-50%);

  @include txt($fs: 16px, $lh: 20px);
  transition: transform 250ms linear;
}

.form__input:focus + .form__name,
.form__input:not(:placeholder-shown) + .form__name {
  transform: translateY(-30px);
}
.form__input {
  border: transparent;
  width: 100%;
  height: 20px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;

  appearance: none;

  border: transparent;

  background-color: transparent;
  outline: none;
  cursor: pointer;

  width: 100%;

  margin-left: 160px;
}

.select-name {
  position: absolute;
  display: block;

  top: 50%;
  left: 1px;

  transform: translateY(-50%);

  @include txt($fs: 16px, $lh: 20px);
}

.select::-ms-expand {
  display: none;
}

.textarea-head {
  display: block;
}

.textarea-text {
  display: block;
  width: 100%;
  border: 1px solid #487996;
  border-radius: 50px 0px;

  padding-left: 20px;
  padding-top: 22px;
  margin-bottom: 4px;
  resize: none;
}

.icon-file {
  appearance: none;
}

// =======================contacts=======================

.information {
  margin-bottom: 76px;
}
.information-scroll__thumb {
  margin-bottom: 24px;
}
.information-scroll__head {
  @include title-main($fs: 24px, $lh: 30px);
  margin-bottom: 8px;
}

.information-scroll-numbers__items {
  margin-bottom: 8px;
}

.tel-link {
  @include txt($fs: 16px, $lh: 20px);
}
.mail-link {
  @include txt($fs: 16px, $lh: 20px);
}

.information-scroll-date__item {
  margin-bottom: 8px;
}

.information-scroll-date__description {
  @include txt($fs: 16px, $lh: 20px);
}

@media screen and (max-width: 1443px) {
  .logo-d {
    display: none;
  }
}

.textarea-head {
  @include txt($fs: 16px, $lh: 20px);
  margin-bottom: 8px;
}
.file-text {
  @include txt($fs: 16px, $lh: 20px);
  color: #cdcdcd;
}

.file-clip {
  position: absolute;
  bottom: 18px;
  right: 21px;
  width: 20px;
  height: 22px;
}
.form__field-text {
  margin-bottom: 24px;
}

.form__field-text-wrapper {
  position: relative;
}
.form__button {
  margin-bottom: 52px;
}

@media screen and (min-width: 768px) {
  .make-order__wrapper {
    display: flex;
    height: auto;
  }

  .make-order__first-thumb {
    max-width: 247px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .make-order__second-thumb {
    max-width: 381px;
  }

  .contact-us__head {
    text-align: center;
  }

  .form {
    max-width: 420px;
    margin: 0 auto;
  }
  .form__button {
    display: flex;
    margin-left: auto;
  }

  .information-scroll {
    display: flex;
    justify-content: space-between;

    margin-bottom: 0;
  }
}
